@import "../utils/_variables";

.btn {
  align-items: center;
  background-color: map-get($colors, "primary");
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 0px auto;
  width: 200px;

  .btn-text {
    color: map-get($colors, "white");
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
  }

  .btn-logo {
    height: 14px;
  }

  &-space {
    margin-right: 20px;

  }
}
