@import "../utils/_variables";
@import "../utils/global";

.bg-secondary {
  margin-top: 80px;
  position: relative;

  &::before {
    background-color: map-get($colors, "secondary");
    content: "";
    height: 108px;
    left: calc(50% - 50px);
    position: absolute;
    top: -32px;
    transform: rotate(45deg);
    width: 88px;
  }
}

.footer-body {
  display: flex;
  flex-direction: column;
}

// ------ hotel/ adress

.luxury-body {
  padding-bottom: 60px;
  padding-top: 80px;

  .luxury-title {
    font-family: "Source Serif Pro", serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 20px;
  }

  .luxury-subtitle {
    font-family: "Source Serif Pro", serif;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 4px;
    line-height: 20px;
    margin-left: 14px;
    padding-bottom: 22px;
  }

  .luxury-text {
    font-size: 12px;
    line-height: 16px;
  }
}

// ---- contact ----

.item {
  color: map-get($colors, "white");
  font-size: 14px;
  line-height: 12px;
  padding-bottom: 35px;
}

// ---- social ----
.social {
  align-items: center;
  padding-bottom: 14px;

  .item-social {
    margin-right: 16px;
  }
}
// ---- email -------

.form-text {
  padding-bottom: 30px;
}

.form-group {
  display: flex;

  &-input {
    background-color: transparent;
    border: 2px solid map-get($colors, "primary");
    border-radius: 6px 0 0 6px;
    caret-color: map-get($colors, "success");
    color: map-get($colors, "white");
    flex: 1;
    font-size: 16px;
    font-weight: 700;
    padding: 8px 10px;

    &::placeholder {
      color: map-get($colors, "white");
      font-size: 16px;
      font-weight: 700;
    }
  }

  &-button {
    background-color: map-get($colors, "primary");
    border-radius: 0 6px 6px 0;
    color: map-get($colors, "secondary");
    cursor: pointer;
    font-weight: 700;
    padding: 16px;
  }
}
