@import "../utils/_variables";

// Background

.hero {
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  padding-top: 240px;

  //  <--------------- Text ----------------->

  .luxury-welcome {
    color: map-get($colors, "white");
    font-weight: 500;
    font-size: 26px;
    line-height: 40px;
  }

  .luxury {
    color: map-get($colors, "white");
    font-family: "Source Serif Pro", serif;
    font-size: 80px;
    font-weight: 600;
    line-height: 70px;
  }

  .luxury-hotels {
    letter-spacing: 8px;
    font-size: 26px;
    line-height: 30px;
  }

  .luxury-text {
    color: map-get($colors, "white");
    font-size: 16px;
    letter-spacing: 2px;
    line-height: 20px;
    margin-bottom: 60px;
  }
}

//  <--------------- Sroll ----------------->

.scroll {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  &-position {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-text {
    color: map-get($colors, "white");
    font-weight: 600;
    padding-bottom: 10px;
  }

  &-img {
    max-width: 28px;
  }
}
