@import "../utils/_variables";

.figure {
  position: relative;
  margin-bottom: 100px;

  &-image {
    max-width: 100%;
    position: relative;
  }

  &-legend {
    background-color: map-get($colors, "white");
    bottom: 0;
    color: map-get($colors, "secondary");
    font-size: 38px;
    font-weight: 700;
    left: 50%;
    max-width: 100%;
    text-align: center;
    transform: translateX(-50%);
    padding: 14px 0;
    position: absolute;
    width: 650px;
  }
}
