@import '../utils/variables';

.figure {
  margin-bottom: 100px;
  position: relative;

  &-image {
    max-width: 100%;
    position: relative;
  }

  &-legend {
    background-color: map-get($colors, 'white');
    bottom: 0;
    color: map-get($colors, 'secondary');
    font-size: 38px;
    font-weight: 700;
    left: 50%;
    max-width: 100%;
    padding: 14px 0;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    width: 650px;
  }
}
