<!-- Começo do Conteúdo do footer -->
<footer class="bg-secondary cl-white">
  <div class="container">
    <div class="row col-12 luxury-body">
      <div class="col">
        <h3 class="luxury-title">LUXURY</h3>
        <h5 class="luxury-subtitle">HOTELS</h5>
        <p class="luxury-text">
          497 Evergreen Rd. Roseville, CA 95673 +44 345 678 903
          luxury_hotels@gmail.com
        </p>
      </div>
      <div class="col footer-body">
        <a class="item" href="#">About Us</a>
        <a class="item" href="#">Contact</a>
        <a class="item" href="#">Terms & Conditions</a>
      </div>
      <div class="col footer-body">
        <a class="item social" href="#"
          ><img
            class="item-social"
            src="./assets/images/face.png"
            alt="face"
          />
          &nbspFacebook</a
        >
        <a class="item social" href="#"
          ><img
            class="item-social"
            src="./assets/images/twitter.png"
            alt="twitter"
          />Twitter</a
        >
        <a class="item social" href="#"
          ><img
            class="item-social"
            src="./assets/images/insta.png"
            alt="insta"
          />Instagram</a
        >
      </div>
      <div class="col">
        <p class="form-text">Subscribe to our newsletter</p>

        <form>
          <div class="form-group">
            <input
              type="text"
              class="form-group-input"
              placeholder="Email Address"
            />
            <a class="form-group-button" href="#">OK</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</footer>


<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script type="text/javascript" src="./js/bundle.min.js"></script>
  </body>
</html>
