<!-- Começo do Conteúdo do footer -->
<footer class="bg-secondary cl-white">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <h3>LUXURY</h3>
        <h5>HOTELS</h5>
        <p>
          497 Evergreen Rd. Roseville, CA 95673 +44 345 678 903
          luxury_hotels@gmail.com
        </p>
      </div>
      <div class="col-3">
        <a href="#">About Us</a>
        <a href="#">Contact</a>
        <a href="#">Terms & Conditions</a>
      </div>
      <div class="col-3">
        <a href="#">Facebook</a>
        <a href="#">Twitter</a>
        <a href="#">Instagram</a>
      </div>
      <div class="col-3">
        <p>Subscribe to our newsletter</p>

        <form>
          <div class="form-group">
            <input type="text" class="form-group-input" placeholder="Email Address" />
            <button class="form-group-button">OK</button>
          </div>
        </form>
      </div>
    </div>
  </div>

</footer>
<!-- Final do Conteúdo do footer -->

<!-- Chamadas dos arquivos JS -->
<script type="text/javascript" src="./js/bundle.min.js"></script>
  </body>
</html>
