<header class="hero" style="background-image: url(@@background)">
  <div class="container">
    <!-------- TEXT ---------->

    <div>
      <h3 class="luxury-welcome">WELCOME TO</h3>

      <h1 class="luxury">LUXURY</h1>

      <h3 class="luxury luxury-hotels">HOTELS</h3>

      <p class="luxury-text">
        Book your stay and enjoy Luxury <br />
        redefined at the most affordable rates. Copy
      </p>
    </div>
    <!------- BUTTON --------->

    <button class="btn">
      <p class="btn-text">
        <img class="btn-logo" src="../assets/images/Home.png" alt="home" /> BOOK
        NOW
      </p>
    </button>

    <!------- Scroll --------->

    <div class="scroll">
      <a class="scroll-position" href="#">
        <span class="scroll-text">Scroll</span>
        <img
          class="scroll-img"
          src="../assets/images/Scroll.png"
          alt="scroll"
        />
      </a>
    </div>
  </div>
</header>
