<section class="container">
  <figure class="figure">
    <img class="figure-image" src="../assets/images/the-gyn.png" alt="gyn" />
    <figcaption class="figure-legend">THE GYN</figcaption>
  </figure>

  <figure class="figure">
    <img
      class="figure-image"
      src="../assets/images/poolside-bar.png"
      alt="gyn"
    />
    <figcaption class="figure-legend">POOLSIDE BAR</figcaption>
  </figure>

  <figure class="figure">
    <img class="figure-image" src="../assets/images/the-spa.png" alt="gyn" />
    <figcaption class="figure-legend">THE SPA</figcaption>
  </figure>

  <figure class="figure">
    <img
      class="figure-image"
      src="../assets/images/swimming-pool.png"
      alt="gyn"
    />
    <figcaption class="figure-legend">SWIMMING POOL</figcaption>
  </figure>

  <figure class="figure">
    <img class="figure-image" src="../assets/images/restaurant.png" alt="gyn" />
    <figcaption class="figure-legend">RESTAURANT</figcaption>
  </figure>

  <figure class="figure">
    <img class="figure-image" src="../assets/images/laundry.png" alt="gyn" />
    <figcaption class="figure-legend">LAUNDRY</figcaption>
  </figure>
</section>
