<!----  Text ---->
<div class="container">
  <h1 class="title-service">Testimonials</h1>
  <h3 class="text-service">
    "Calm, Serene, Retro – What a way to relax and enjoy"
  </h3>
  <h5 class="text-service">Mr. and Mrs. Baxter, UK</h5>
</div>

<!-- btn left -->
<div class="arrow">
  <div>
    <a class="arrow-btn" href="#"
      ><img class="arrow-img" src="../assets/images/arrow-left.png" alt=""
    /></a>
  </div>
  <!-- btn-right -->
  <div>
    <a class="arrow-btn" href="#"
      ><img class="arrow-img" src="../assets/images/arrow-right.png" alt=""
    /></a>
  </div>
</div>
