<!------------------------------------------------------>
<!---------------------- TEXT/ BOX---------------------->

<!------ TEXT ----------->
<div class="container">
  <h2 class="title-text">
    Copy All our room types are including complementary breakfast
  </h2>

  <!------ SERVICES ----------->
  <!-- text -->

  <div class="row service">
    <section class="col-6 service-border">
      <div class="service-body">
        <h1 class="title-service">Luxury redefined</h1>

        <p class="text-service">
          Our rooms are designed to transport you into an environment made for
          leisure. Take your mind off the day-to-day of home life and find a
          private paradise for yourself.
        </p>

        <div class="btn btn-position">
          <a href="#"><p class="btn-text">EXPLORE</p></a>
        </div>
      </div>
    </section>

    <!-- image -->

    <section class="col-6">
      <img class="box-image" src="../assets/images/box1.png" alt="box" />
    </section>

    <!------ SERVICES 2 ----------->

    <section class="col-6 service-border">
      <div class="service-body">
        <h1 class="title-service">Leave your worries in the sand</h1>

        <p class="text-service">
          Our rooms are designed to transport you into an environment made for
          leisure. Take your mind off the day-to-day of home life and find a
          private paradise for yourself.
        </p>

        <div class="btn btn-position">
          <a href="#"><p class="btn-text">EXPLORE</p></a>
        </div>
      </div>
    </section>

    <!-- image -->

    <section class="col-6">
      <img class="box-image" src="../assets/images/box2.png" alt="box" />
    </section>
  </div>
</div>
