<!-- Swiper -->
<section class="container">
  <!--------------- swiper   ----------------->

    <!---- Single room ---->

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="swiper-img"
          src="./assets/images/single-room.png"
          alt="rooms"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-img"
          src="./assets/images/single-room.png"
          alt="gyn"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-img"
          src="./assets/images/single-room.png"
          alt="home"
        />
      </div>
    </div>
    <div class="swiper-pagination swiper-up"></div>
    <!-- Add Pagination -->
  </div>

  <div>
    <h1 class="single">SINGLE ROOM</h1>
  </div>

  <div class="view">
    <div class="view-body">
      <button class="btn-som">+</button>
      <p class="text">VIEW ROOM DETAILS</p>
    </div>

    <button class="btn btn-space">
      <p class="btn-text">$147 Avg/night</p>
    </button>
  </div>

  <!---- Double room ---->

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="swiper-img"
          src="./assets/images/single-room.png"
          alt="rooms"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-img"
          src="./assets/images/single-room.png"
          alt="gyn"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-img"
          src="./assets/images/single-room.png"
          alt="home"
        />
      </div>
    </div>
    <div class="swiper-pagination swiper-up"></div>
    <!-- Add Pagination -->
  </div>

  <div>
    <h1 class="single">DOUBLE ROOM</h1>
  </div>

  <div class="view">
    <div class="view-body">
      <button class="btn-som">+</button>
      <p class="text">VIEW ROOM DETAILS</p>
    </div>

    <div class="btn btn-space">
      <p class="btn-text">$147 Avg/night</p>
    </div>
  </div>

  <!---- twin room ---->

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img
          class="swiper-img"
          src="./assets/images/single-room.png"
          alt="rooms"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-img"
          src="./assets/images/single-room.png"
          alt="gyn"
        />
      </div>
      <div class="swiper-slide">
        <img
          class="swiper-img"
          src="./assets/images/single-room.png"
          alt="home"
        />
      </div>
    </div>
    <div class="swiper-pagination swiper-up"></div>
    <!-- Add Pagination -->
  </div>

  <div>
    <h1 class="single">TWIN ROOM</h1>
  </div>

  <div class="view">
    <div class="view-body">
      <button class="btn-som">+</button>
      <p class="text">VIEW ROOM DETAILS</p>
    </div>

    <button class="btn btn-space">
      <p class="btn-text">$147 Avg/night</p>
    </button>
  </div>
</section>
