/* ------- Button --------- */

.btn {
  align-items: center;
  background-color: #e0b973;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 0px auto;
  width: 200px;
}

.btn .btn-text {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
}

.btn .btn-logo {
  height: 14px;
}

.btn.btn-position {
  margin: 0;
}
