/* ============================================
===================== Nav =====================
============================================ */

/* ------- Background --------- */
.hero {
  background-image: url("../assets/luxury1.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
}

/* ------- Brand --------- */
.menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.bg-label {
  background-color: #e0b973;
  border-radius: 0 0 40px 40px;
  display: flex;
  height: 150px;
  justify-content: center;
  text-align: center;
  width: 256px;
}

.menu-label {
  color: #14274a;
  font-family: "Source Serif Pro", serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 20px;
  padding-top: 50px;
}

.menu-label .subtitle {
  letter-spacing: 8px;
  font-family: "Source Serif Pro", serif;
  font-size: 12px;
  font-weight: 700;
}

/* ------- Nav --------- */

.menu-nav {
  display: flex;
  justify-content: space-between;
}

.menu-nav .item {
  color: #fff;
  display: flex;
  font-size: 16px;
  font-weight: 400;
  justify-content: space-between;
  line-height: 20px;
  padding: 45px;
}

.menu-nav .item-b {
  font-weight: bold;
}

.item:hover {
  text-decoration: underline;
}

/* ------- Text --------- */

.welcome {
  color: #fff;
  font-family: "Source Serif Pro", serif;
  font-weight: 500;
  font-size: 26px;
  line-height: 40px;
}

.luxury {
  color: #fff;
  font-family: "Source Serif Pro", serif;
  font-size: 100px;
  font-weight: 600;
  line-height: 80px;
}

.hotels {
  letter-spacing: 8px;
}

.text {
  color: #fff;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 60px;
}

.text-space {
  margin-top: 70px;
}

/* ------- Scroll ---------                   VERIFICAR  */

.scroll {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.scroll .scroll-position {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.scroll .scroll-text {
  color: #fff;
}

.scroll .scroll-img {
  max-width: 100px;
}

/* ============================================
================ section 1 (SERVICES) =========
=============================================== */

/* ------- Text --------- */

.title-text {
  color: #14274a;
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  padding: 84px 0 92px 0;
}

/* ------- box --------- */

.service {
  align-items: center;
  display: flex;
}

.service-border {
  border-left: 2px solid #14274a;
  display: flex;
  flex-direction: column;
  margin-top: -70px;
  padding: 0 0 0 40px;
}

.service .title-service {
  color: #14274a;
  font-family: "Source Serif Pro", serif;
  font-size: 30px;
  line-height: 72px;
  text-align: left;
}

.service .text-service {
  color: #14274a;
  font-size: 16px;
  line-height: 35px;
  margin-bottom: 20px;
  max-width: 90%;
  text-align: left;
}

.box-image {
  margin-bottom: 90px;
  max-width: 100%;
}

/* ------- Text --------- */

.title-service {
  color: #14274a;
  font-family: "Source Serif Pro", serif;
  font-size: 30px;
  line-height: 76px;
  text-align: center;
}

.text-service {
  color: #14274a;
  line-height: 20px;
  margin-bottom: 20px;
  text-align: center;
}
